@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import './scss/variables';

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #868686;
  color: $text-color;
}

// START Colors
.text-primary{
  color: $primary-color;
}
.text-light-primary{
  color: $light-primary-color;
}
.text-dark-primary{
  color: $dark-primary-color;
}
.bg-primary{
  background-color: $primary-color;
}
.bg-light-primary{
  background-color: $light-primary-color;
}
.bg-dark-primary{
  background-color: $dark-primary-color;
}
.fill-red{
  fill: $red;
}
.fill-green{
  fill: $green;
}
.fill-dark-primary{
  fill: $dark-primary-color;
}
// END Colors

// START Fonts
h1{
  font-size: 45px;
  font-weight: 800;
  line-height: 1.25;
}
h2{
  font-size: 35px;
  font-weight: 600;
  line-height: 1.25;
}
h3{
  font-size: 25px;
  font-weight: 600;
  line-height: 1.25;
}
p{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
// END Fonts